// TODO: Don't forget to change the module name github.com/omaigo88 to your own
//       in all go.mod files (order, inventory, payment, shared)
//       and update all imports in the code!

go 1.26.0

use (
	./inventory
	./order
	./payment
	./shared
)
